body{
    font-size: center;
    font-family: "Helvetica";
    color: #777777;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.container{
    width: 70%;
    padding: 0px;
    text-align: left;
    border: 1px solid #DDDDDD;
    margin: 0 auto;
}
.container h1{
    font-size: 70px;
}
.cabecera{
    background: #33AAAA;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.7);
    color: #ffffff;
    margin: 0;
    padding: 0.5em;
}
.cabecera .tagline{
    padding: 0px 0px 0px 1em;
    font-size: 0.8em;
}